.navbar {
    border-bottom: 1px solid #ccc;
    display:flex;
    height: 60px;
    flex: 6;
    .left-part {
        position: relative;
        width: 30%;
        padding-left: 20px;
        input {
            border:1px solid #ccc;
            padding: 5px;
            outline: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &::placeholder{color: #ccc;}
        }
        .icon {
            position: absolute;
            right: 130px;
            top: 20px;
            color: #ccc;
        }
    }
    .right-part {
        width: 70%;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            margin-left: auto;
            color: #666;
            .icon {
                font-size: 20px;
            }
            .bright-ness {
                cursor: pointer;
            }
            .alarm {
                position: relative;
                span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #f00;
                    color: #fff;
                    text-align: center;
                    line-height: 15px;
                    font-size: 14px;
                    right: -7px;
                    top: -5px;
                }
            }
            img {
                width: 28px;
                height: 28px;
                border-radius:50% ;
            }
        }
    }
}