.Revenu {
    width: 35%;
    padding: 5px 15px;
    box-shadow: 2px 4px 10px 4px rgba(201, 201, 201, 0.47);
    .top, footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .top {
        justify-content: space-between;
    }
    h3,h4 {
        color: #444;
        font-weight: 400;
    }
    .center {
        text-align: center;
        .progress {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid #3e98c7;;
            border-left-color:#ccc ;
            margin: auto;
            line-height: 90px;
            color: #3e98c7;
        }
        h4 {
            font-size: 32px;
            font-weight: 400;
            margin: 0;
        }
        p {
            font-size: 14px;
            color: #444;
        }
    }
    footer {
        text-align: center;
        .target {
            div {
                display:flex;
                align-items: center;
                color: #080;
                margin-top: 10px;
            }
            &:first-of-type div {
                color: #f00;
            }
        }
        .icon {
            font-size: 16px;
        }
    }
}